.idea/.name
.idea/workspace.xml
.idea/vcs.xml
.idea/scopes/scope_settings.xml
.idea/sass-mixins.iml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/encodings.xml